





@media screen and (min-width:375px) and (max-width:812px) {
    .alert-info, .hidden-on-desktop {
        text-align: center;
        text-decoration: none;
    }


    html {background-color: black;

    }
    body * {box-sizing: border-box;
        grid-gap: 5px;
        margin: 5px;
        padding-left: 10px;
        padding-right: 10px;

    }


    body {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto auto auto auto;
        background-color: white;
        margin: 0 18px;
        justify-content: space-around;
        padding-left: 15px;
        padding-right: 15px;


    }

    .alert-info .hidden-on-desktop {
        grid-area: 1 / 1 / 2 / 2;
        display: flex;
        align-content: center;
        justify-content: center;
        width: 80%;
        height: 50%;




    }

    .alert-info a {text-decoration: none;
        border: 1px solid #c1c1c1;
        background-color: #c3ffff;
        color: black;
        font-size: 15px;
        padding: 15px 220px;



    }

    h1 {grid-area: 2 / 1 / 3 / 2;
        display: flex;
        justify-content: center;
        padding: 20px 0;
        margin: 0;
        font-family: Arial;
        font-size: 50px;


    }

    nav { grid-area: 3 /1 / 4 /2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 0;

    }

    .content{
        flex-wrap: wrap;
        margin-top: 30px;

    }


    ul {list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
    }

    ul li {display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: large;
        width: 87vw;
        height: 2.5em;
        border: 1px solid #c1c1c1;
        background-color: #c1c1c1;

    }
    .header-img img {
        grid-area: 3 / 1 / 4 / 4;
        margin: auto;
        height: auto;
        width: 90vw;
        display:flex;
        justify-content: center;
        padding-bottom: 20px;
        padding-top: 15px;

    }


    .main.sub-section {grid-area: 5 / 1 / 6 / 2;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
        height: auto;



    }

    h2 {padding-bottom: 10px;

    }

    p {margin-bottom: 20px;

    }

    footer { grid-area: 7 / 1 / 8 / 2;
        display: flex;
        justify-content: flex-start;
        margin-top: 40px;

    }
}


@media screen and (min-width:813px){
    html body *{
        box-sizing: border-box;



    }

    .content {
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: auto auto auto auto;
        height: 100%;
        width: 100vw;
        padding: 2em;
        margin: auto;
    }

h1 {
   font-size: 50px;
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

ul li {
    display: inline;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

li {

    grid-area: 1 /3 / 2 /4;
    /*display: flex;
    justify-content: center;
    align-content: center;*/

}


 .hidden-on-desktop {
     display: none;
 }

 .header-img {
    grid-area: 2 / 1 / 3 / 4;
    height: 100%;
    width: 100%;
    display: flex;
     flex-direction: row;
    justify-content: center;
    align-content: center;

}

.main {
    grid-area: 3 / 1/ 4/ 2;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-content: flex-start;
    margin-right: 50px;

}

.sub-section {
    grid-area: 3 / 2 / 4 / 3;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-content: flex-start;

}
footer {
    grid-area: 4 / 1 / 5 /2;
    margin-top: 4em;
}


}